*{
    font-family: "huninn", sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2rem;
    color: #f0f0f0;
}

p{
    color: white;
    font-size: 1vw;
}

/* --------------------- HEADER BANNER starts here ------------------------- */

header{
    padding: 1.5vw 1vw;
    display: flex;
    justify-content: right;
}

#navigation-bar{
    gap: 3vw;
    font-size: 12px;
    font-family:'Lucida Console', 'sans-serif';
    font-weight: bold;
}

nav a{
    color: rgb(255, 255, 255);
}

nav a:hover{
    color:red
}

nav a:active{
    color:blue;
}

@media (max-width: 768px) {
  .navigation-bar {
    display: none;
  }
}

/*  BODY starts here */

body{
    background-color: black;
}

/* ------------------------------ HERO starts here ---------------------------------------*/

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vw;
    width: auto;
    margin: 2em;
    border-radius: 10px;
    background-image: url('Assets/Hero_background.jpg');
    background-size: cover;
    background-position: center;
    object-position: center;
}

.hero-content{
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content h1{
    margin-bottom: 0.5em;
}

@media (max-width:768px){
    .hero-content h1{
        font-size: 1.5em;
    }

    .hero-content P{
        font-size: 1em;
    }
}

/* ------------------------------- ABOUT ME starts here ------------------------ */

.about{
    margin: 5vh;
    padding: 2vw;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
}

.about h1{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin-bottom: 2vw;
}

.about-image img{
    width: 20vw;
    height: auto;
    border-radius: 10px;
}

.about-image{
    display: flex;
    flex-basis: 35%
}

.about-container{
    display: flex;
    justify-content: space-between;
}

.about-text{
    flex: 1;
    flex-basis: 100%;
    line-height: 1.5em;
}

.about-text p{
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
}

.detail-container{
    color: white;
}

.detail-item h3{
    margin-top: 2vw;
    color: rgb(142, 66, 186);
    font-size: 2vw;
}

.detail-item ul{
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
}

/* ------------------------------ Project stars here ---------------------------- */

.project{
    margin: 5vh;
    padding: 2vw;
    background-color: #363636;
    border-radius: 10px;
}

.project h1{
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
    font-size: 2vw;
}

.boards h3{
    font-size: 1.5vw;
}

.boards img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.boards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-board1, .project-board2, .project-board3{
    width: 30%;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #9a9a9a;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    text-align: left;
}

@media (max-width: 768px){
    .boards{
        flex-direction: column;
        align-items: center;
    }

    .project-board1, .project-board2, .project-board3{
        width: 50%
    }
}


/* ------------------------------ MESSAGE stars here ---------------------------- */

.message-me{
    margin: 5vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
}

.message-me h1{
    margin-bottom: 2vw;
    font-size: 2vw;
}

fieldset{
    width: 60vw;
    height: auto;
    margin-left: 8vw;
    padding: 2vw;
    color: white
}

legend{
    color: rgb(255, 255, 255);
    font-size:calc(1.5vw + 10px);
}

/* ------------------------------ FOOTER stars here ---------------------------- */

.contact{
    background-color: rgb(0, 0, 0);
    text-align: right;
    margin: 1vw 0 1vw 0 0;
}

.contact p{
    margin: 0px;
    margin-right: 1vw;
    color: rgb(255, 255, 255);
    font-size: medium;
}

.contact-details{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5em;
}

.whatsapp_icon{
    height: 1em;
}