*{
    font-family: "montserrat", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1{
    font-size: 2em;
    color: #f0f0f0;
}

@media (max-width: 420px){
    h1{
        font-size: 1em;
    }
}

p{
    color: white;
    font-size: 1vw;
}

/* --------------------- HEADER BANNER starts here ------------------------- */

header{
    margin: 2rem;
    display: flex;
    justify-content: right;
}

.navigation-bar{
    gap: 3vw;
    font-size: 1em;
    font-family:'Lucida Console', 'sans-serif';
    font-weight: bold;
}

nav a{
    color: rgb(255, 255, 255);
}

nav a:hover{
    color:red
}

nav a:active{
    color:blue;
}

@media (max-width: 420px) {
    header{
        margin: 1rem;
    }
    .navigation-bar{
        font-size: 0.5em;
    }
}

/*  BODY starts here */

body{
    background-color: black;
}

/* ------------------------------ HERO starts here ---------------------------------------*/

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vw;
    width: auto;
    margin: 1em 2em 2em 2em;
    border-radius: 10px;
    background-image: url('Assets/Hero_background.jpg');
    background-size: cover;
    background-position: center;
    object-position: center;
}

.hero-content{
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content h1{
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero-content p{
    font-size: 1.5em;
}

.message-button{
    margin-top: 2em;
    padding: 0.5em;
    background-image: linear-gradient(45deg, rgb(142, 66, 186), black) ;
    border-radius: 10px;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

@media (max-width: 420px) {
    .hero-content h1{
        font-size: 1em;
    }
    
    .hero-content p{
        font-size: 0.7em;
    }

    .message-button{
        font-size: 0.5em;
    }

}

@media (min-width: 420px) and (max-width: 768px) {
    .message-button{
        font-size: 1em;
    }

    .hero-content h1{
        font-size: 1.5em;
    }

    .hero-content P{
        font-size: 1em;
    }
}

/* ------------------------------- ABOUT ME starts here ------------------------ */

.about{
    margin: 5vh;
    padding: 2vw;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
}

.about h1{
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

.about-image img{
    width: 20vw;
    height: auto;
    border-radius: 10px;
}

.about-image{
    display: flex;
    flex-basis: 35%
}

.about-container{
    display: flex;
    justify-content: space-between;
}

.about-text{
    flex: 1;
    flex-basis: 100%;
    line-height: 1.5;
}

.about-text p{
    font-size: 2vw;
    font-weight: 500;
    color: white;
}

.detail-item h3{
    margin-top: 2vw;
    margin-bottom: 0.2em;
    color: rgb(142, 66, 186);
    font-size: 2vw;
    position: relative;
}

.detail-item h3::after{
    content: '';
    background-color: rgb(200, 124, 244);
    width: 2em;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.detail-item ul{
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

@media (max-width: 420px){
    .about{
        padding: 1em;
    }

     .about h1{
        padding-bottom: 0.5em;
     }

    .about-text{
        line-height: 2;
    }

    .about-text h3{
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .about-image{
        flex-basis: 40%
    }

    .about-text p{
        font-size: 0.8em;
    }

    .detail-item ul{
        font-size: 0.6em;
    }

    .detail-container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        gap: 2em;
    }

    .detail-item h3::after{
        width: 1em;
        height: 1px;
    }
}

@media (min-width: 420px) and (max-width: 768px){
    .about h1{
        font-size: 1.5em;
    }

    .about-text p{
        font-size: 1em;
    }

    .about-text h3{
        font-size: 1em;
    }

    .detail-item ul{
        font-size: 0.8em;
    }
}


/* ------------------------------ Project stars here ---------------------------- */

.project{
    margin: 5vh;
    padding: 2vw;
    background-color: #313131;
    border-radius: 10px;
}

.project h1{
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

.boards h3{
    font-size: 1.5em;
}

.boards p{
    font-size: 1em;
}

.boards img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.boards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-board1, .project-board2, .project-board3{
    width: 30%;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #9a9a9a;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    text-align: left;
}

@media (max-width: 420px){
    .boards{
        flex-direction: column;
        align-items: center;
    }

    .project-board1, .project-board2, .project-board3{
        width: 50%
    }

    .boards h3{
        font-size: 0.8em;
    }

    .boards p{
        font-size: 0.5em;
    }
}

@media (min-width: 420px) and (max-width: 768px){
    .project h1{
        font-size: 1.5em;
    }

    .boards{
        flex-direction: column;
        align-items: center;
    }

    .project-board1, .project-board2, .project-board3{
        width: 50%;
        margin: 1em; 
    }

    .boards h3{
        font-size: 1.5em;
    }

    .boards p{
        font-size: 1em;
    }
}


/* ------------------------------ MESSAGE stars here ---------------------------- */

.message-me{
    margin: 5vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
}

.message-me h1{
    margin-bottom: 3vw;
    font-size: 2em;
}

form{
    width: 60%;
}

fieldset{
    padding: 2vw;
    color: white
}

input, textarea{
    width: 100%;
}

legend{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 600;
}

@media (max-width: 420px){

    .message-me h1{
        font-size: 1em;
    }
    
    fieldset{
        margin-top: 1em;
        width: 85%;
    }
    
    fieldset legend{
        font-size: 1em;
    }

    fieldset label{
        font-size: 0.8em;
    }
}

@media (min-width: 420px) and (max-width: 768px){
    .message-me h1{
        font-size: 1.5em;
    }

    form{
        width: 60%;
    }

    .message-me legend{
        font-size: 1.5em;
    }
}

/* ------------------------------ FOOTER stars here ---------------------------- */

.contact{
    background-color: rgb(0, 0, 0);
    text-align: right;
    margin: 1vw 0 1vw 0 0;
}

.contact p{
    margin: 0px;
    margin-right: 1vw;
    color: rgb(255, 255, 255);
    font-size: medium;
}

.contact-details{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5em;
}

.whatsapp_icon{
    height: 1em;
}